
<div class="outer-container"  #projectnamehide>
    <div class="table-header effect">
        <h3 class="table-title">Name:{{parkinglot}}</h3>
        <div class="actions">
          <p>Units</p>
        </div>
    </div> 
        <div class="content">        
           <div class='login--form'>
              <div class='exsiting-project'>
                   <label>Select from Existing Projects</label>                  
                   <input  type='text' [(ngModel)]="LaneWidth">
               </div>
               <div class='new-project'>
                     <label>Create a New Project Name</label>
                     <input  type='text' [(ngModel)]="LaneLength">
                </div>
                <div class="box"><br class="clear"></div>
           </div>

      </div>
</div>